@import url('./main-layout.css');
@import url('./views/my-view-view.css');
@import url('@fontsource/roboto/index.css');    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
--lumo-font-family: Roboto;

    }

    [theme~="dark"] {

    }
